@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--theme-dark-100: #413F3E;
	--theme-dark-80: #8B8986;
	--theme-dark-60: #BAB6B2;
	--theme-dark-40: #DBD6D1;
	--theme-dark-20: #E7E2DC;

	--theme-main-100: #1A5B5B;
	--theme-main-80: #388E8E;
	--theme-main-60: #67BEBE;
	--theme-main-40: #9AD0D0;
	--theme-main-20: #B7DDDD;

	--theme-comp-100: #000000;
	--theme-comp-80: #CE575E;
	--theme-comp-60: #F09EA3;
	--theme-comp-40: #F8C4C7;
	--theme-comp-20: #FFFFFF;

	--theme-dark: var(--theme-dark-100);
	--theme-main: var(--theme-main-80);
	--theme-comp: var(--theme-comp-80);

	--text-color: black;
	--background-color: white;
	--linear-background-color: linear-gradient(180deg, #9ACFD0 0%, #67BEBE 100%);
	--dark-linear-background-color: linear-gradient(180deg, #388E8E 0%, #1A5B5B 100%);
}

* {
	font-family: 'Noto Sans TC', sans-serif;
}

a {
	-webkit-tap-highlight-color: transparent;
}

main {
	/* background: #c3e2e2; */
}