@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

	--gray-1: #F8F8F8;
	--gray-2: #DBD6D1;
	--gray-3: #BAB6B2;
	--gray-4: #8B8986;
	--gray-5: #413F3E;

	--blue-1: #D7EEEE;
	--blue-2: #9AD0D0;
	--blue-3: #67BEBE;
	--blue-4: #388E8E;
	--blue-5: #1A5B5B;

	--red-2:  #F8C4C7;
	--red-3:  #F09EA3;
	--red-4:  #CE575E;

	--white-f: #FFFFFF;

	--black-0: #000000;

	--radial-1: radial-gradient(150.46% 63.63% at 96.8% 10.01%, var(--blue-4) 0%, var(--blue-5) 100%);
	
	--linear-1: linear-gradient(225deg, var(--blue-4) 0%, var(--blue-5) 100%);
	--linear-2: linear-gradient(225deg, var(--blue-2) 0%, var(--blue-3) 100%);


	--white-75p: #FFFFFFBF;
	--white-50p: #FFFFFF80;
	--white-25p: #FFFFFF40;
}

* {
	font-family: 'Noto Sans TC', sans-serif;
}

a {
	-webkit-tap-highlight-color: transparent;
}

main {
	/* background: #c3e2e2; */
}

.white-text {
	color: var(--white-f);
}
