@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

	--gray-1: #F8F8F8;
	--gray-2: #DBD6D1;
	--gray-3: #BAB6B2;
	--gray-4: #8B8986;
	--gray-5: #413F3E;

	--blue-1: #D7EEEE;
	--blue-2: #9AD0D0;
	--blue-3: #67BEBE;
	--blue-4: #388E8E;
	--blue-5: #1A5B5B;

	--red-2:  #F8C4C7;
	--red-3:  #F09EA3;
	--red-4:  #CE575E;

	--white-f: #FFFFFF;

	--black-0: #000000;

	--radial-1: radial-gradient(50% 50% at 50% 50%, #388E8E 0%, #236A6A 99.99%, #1A5B5B 100%);
	
	--linear-1: linear-gradient(225deg, var(--blue-4) 0%, var(--blue-5) 100%);
	--linear-2: linear-gradient(225deg, var(--blue-2) 0%, var(--blue-3) 100%);
	--linear-x21: linear-gradient(180deg, var(--blue-4) 5.39%, var(--blue-5) 73.52%);


	--white-75p: #FFFFFFBF;
	--white-50p: #FFFFFF80;
	--white-25p: #FFFFFF40;
}
body{
	background: url('/Stars.svg'), var(--linear-x21);
	/* background-repeat: repeat center center fixed; */
  background-repeat: repeat;
  background-attachment: fixed;
}
* {
	font-family: 'Noto Sans TC', sans-serif;
}

a {
	-webkit-tap-highlight-color: transparent;
}

.white-text {
	color: var(--white-f);
}
